[Unit]
Description=Imagination GPU AXM-8-256 driver init Service.

[Service]
Type=simple
EnvironmentFile=-/usr/share/gpu/gpu.env
ExecStart=sh usr/share/gpu/insmod.sh
ExecStop=sh usr/share/gpu/rmmod.sh
RemainAfterExit=y

[Install]
WantedBy=multi-user.target
