Source: eswin-eic7x-gpu
Section: misc
Priority: optional
Maintainer: Han Gao <gaohan@iscas.ac.cn>
Build-Depends: 
 debhelper-compat (= 13), 
 libdrm-dev, 
 libwayland-dev,
 libx11-dev,
 libglvnd-dev,
 libvulkan-dev,
 libcairo2-dev,
 libxrender-dev,
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: eswin-eic7x-gpu
Architecture: riscv64
Multi-Arch: foreign
Depends: ${misc:Depends}
Replaces: rockos-gles-addons
Breaks: rockos-gles-addons
Provides: rockos-gles-addons
Description: eswin-eic7x-gpu of the rockos
